* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}



html {
      font-size: 62.5%;
      font-family: 'poppins';
}

:root {
      --background-color: #E8DFCB;
      --basic-black: #232524;
      --complement-one: #4E0721;
      --complement-two: #E14E2B;
      --complement-three: #EB7C32;
      --complement-four: #F0C244;
      --off-white: #faf8f7;
      --just-white: #fff;
}

body {
      font-size: 62.5%;
      font-family: 'poppins';
      background-color: var(--background-color);
}

a {
      text-decoration: none;
}

li {
      list-style: none;

}