/* OUR STORES BOOSTRAP */

#our-stores {

      color: var(--basic-black);
      padding: 10px;

     

      a {
            font-size: 2.0rem;
      }
      h2 {
            font-size: 3.0rem !important;
      }
      p {
            font-size: 1.6rem;
      }
      img {
            width: 100%;
            border-radius: 30px;
      }

}


/* //OUR STORES BOOSTRAP */